@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 /* *{
    margin:0px;
    padding: 0px;
}  */

/* shared style */
.display-flex{
    display: flex;
}

.text-gray-1{
    color: #424242;
    font-weight: 450;
}
.text-gray-2{
    color: #424242;
  
}

.text-orenge{
     color: #FF900E;
}

.bg-light{
background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color:#FF900E ;
    color:#FFFFFF ;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
main > section {
    margin-top: 120px;
}


/* header style  */



/* nav section */

.navbar{
   justify-content: space-between;
    align-items: center;
}

.navbar .nav-menu {
  
       
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1400px;
    margin: 0 auto;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

/* banner style  */

.banner-content{
  max-width:850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;

}

.banner-title{
 font-weight: 700;
 font-size: 4rem;
}

.banner-img{
    width: 100%;
}

/* responsive media for header */

@media screen and (max-width:576px) {
    .navbar, .nav-link {
        flex-direction: column;
    }
}


/* main section  */

main{
 max-width: 1200px;
 margin: 0 auto;
}


.team-img {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 24px;

}
 .teams {
    display: flex;
    align-items: center;
 }

.our-featusers{
    margin-left: 70px;
    max-width: 520px;
}

 .feature-head {
    font-size: 2.5rem;
}

 /* responcive media  min */

 @media screen and (max-width:576px)  {
    .teams{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1 , 1fr);
    }
    
    .our-featusers{
     margin-left: 30px;
    }

 }

/* responcive media  mediam */


 @media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
    
      .our-featusers{
     margin: 20px auto;
    }
 }

/* love and enjoy section  */

.featuers-love-enjoy {
    display: flex;
} 

.love-enjoy-title{
    font-size: 2.5rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 0.7rem;
}

.love-card{
    padding: 15px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 15px;

}

.love-enjoy-cardbox {
    margin-right: 40px;
}
/* .featuers-love-enjoy{
    width: 1350px;
    height:960px ;
} */

.card-title{
    font-weight: 500;
    font-size: 1.25rem;
}

#experience-badge {
    padding: 40px 36px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -70px ;
    margin-top: -90px;
}

.experience-year{
    font-size: 2.5rem;
    font-weight: 600;
}
.love-enjoy-img{
    width: 100%;
}


/* for responsive love and enjoy section  */

 @media screen and (max-width:576px) {

   .featuers-love-enjoy{
    flex-direction: column;
   }
   #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
   }
 }


  @media screen and (min-width:576px) and (max-width:992px) {
     .featuers-love-enjoy{
    flex-direction: column;
   }
    #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
   }

   .love-enjoy-img{
    width: 100%;
   padding-left: 85px;
               
   }

  }